<!DOCTYPE html>
<html>
  <head>
  	<meta charset="UTF-8">
    <title></title>
		<link href="stylesheets/main.css" rel="stylesheet" type="text/css">
   
  </head>
  <body>
    <h1><%= lll %></h1>
  
   <div id="top">
   	 
   	 <div id="top_img">
   	 	<img src="images/images/00 (11).png">
   	 </div>
   	
			   	
			   	<div id="top_l">
			   		<ul>
			   			<li><img src="images/images/00 (2).png"></br><a href>更多模板堂作品</a></li>
			   			<li><img src="images/images/00 (3).png"></br><a href>开店向导</a></li>
			   			<li><img src="images/images/00 (4).png"></br><a href>记事本</a></li>
			   			<li><img src="images/images/00 (5).png"></br><a href>刷新</a></li>
			   			<li><img src="images/images/00 (6).png"></br><a href>设置</a></li>
			   			<li><img src="images/images/00 (7).png"></br><a href>去看网店</a></li>
			   			<li><img src="images/images/00 (1).png"></br><a href>管理员留言</a></li>
			   			<li><img src="images/images/00 (8).png"></br><a href>帮助</a></li>
			   			<li><img src="images/images/00 (9).png"></br><a href>关于</a></li>
			   			<li><img src="images/images/00 (10).png"></br><a href>清楚缓存</a></li>
			   		</ul>
			   	</div>
   	
   </div>
   
   <div id="nav">
   	<ul>
   		<li><img src="images/images/canvas121_03.png"><a href="">起始页</a></li>
   		<li><img src="images/images/canvas232_03.png"><a href="">设置导航栏</a></li>
   		<li><img src="images/images/canvas45_03.png"><a href="">文件管理</a></li>
   		<li><img src="images/images/canvas56_03.png"><a href="">订单管理</a></li>
   		<li><img src="images/images/canvas78_03.png"><a href="">广告管理</a></li>
   		<li><img src="images/images/canvas15_03.png"><a href="">用户管理</a></li>
   	</ul>
			   	<p>
			   		<a href="">商品列表</a>
			   		<a href="">订单列表</a>
			   		<a href="">用户列表</a>
			   		<a href="">用户评价</a>
			   		<a href="">商品详情</a>
			   		<a href="">移动版</a>
			   	</p>
   </div>
   
   
   
   
   <div id="main">
   	    <div id="main_left">
   	    	  <div id="main_left_q"><a href="">导航菜单</a></div>
			   	    	<ul id="ul1">
			   	    		<li></li>
			   	    		  <li> <img src="images/images/canvas45_03.png"><a href="">商品管理</a><span><img src="images/images/canvas2222_03.png"></span></li>
			   	    		  
			   	    		  <ul id="ul2"><li>商品列表</li><li>添加新商品</li><li>商品分类</li><li>用户评论</li><li>商品品牌</li><li>商品类型</li><li>商品回收站</li>
			   	    		       	<li>图片批量处理</li><li>图片批量上传</li></ul>
			   	    		
			   	    	    <li> <img src="images/images/canvas45_03.png"><a href="">促销管理</a><span><img src="images/images/canvas2222_03.png"></span></li>
			   	    		  <li> <img src="images/images/canvas45_03.png"><a href="">订单管理</a><span><img src="images/images/canvas2222_03.png"></span></li>
			   	    		  <li> <img src="images/images/canvas45_03.png"><a href="">广告管理</a><span><img src="images/images/canvas2222_03.png"></span></li>
			   	    		  <li> <img src="images/images/canvas45_03.png"><a href="">报表统计</a><span><img src="images/images/canvas2222_03.png"></span></li>
			   	    	    <li> <img src="images/images/canvas45_03.png"><a href="">文章管理</a><span><img src="images/images/canvas2222_03.png"></span></li>
			   	    		  <li> <img src="images/images/canvas45_03.png"><a href="">会员管理</a><span><img src="images/images/canvas2222_03.png"></span></li>
			   	    		  <li> <img src="images/images/canvas45_03.png"><a href="">权限管理</a><span><img src="images/images/canvas2222_03.png"></span></li>
			   	    	    <li> <img src="images/images/canvas45_03.png"><a href="">系统管理</a><span><img src="images/images/canvas2222_03.png"></span></li>
			   	    		  <li> <img src="images/images/canvas45_03.png"><a href="">模板管理</a><span><img src="images/images/canvas2222_03.png"></span></li>
			   	    	    <li> <img src="images/images/canvas45_03.png"><a href="">数据库管理</a><span><img src="images/images/canvas2222_03.png"></span></li>
			   	    		  <li> <img src="images/images/canvas45_03.png"><a href="">短信管理</a><span><img src="images/images/canvas2222_03.png"></span></li>
			   	    	    <li> <img src="images/images/canvas45_03.png"><a href="">邮箱群发管理</a><span><img src="images/images/canvas2222_03.png"></span></li>
			   	    		  <li> <img src="images/images/canvas45_03.png"><a href="">商品管理</a><span><img src="images/images/canvas2222_03.png"></span></li>
			   	    		  <li> <img src="images/images/canvas45_03.png"><a href="">移动管理</a><span><img src="images/images/canvas2222_03.png"></span></li>
			   	    		  <li> <img src="images/images/canvas45_03.png"><a href="">模板堂知识库</a><span><img src="images/images/canvas2222_03.png"></span></li>
			   	    	</ul>
			   	    	
			   	    	
   	    	
   	    	
   	    </div>
   	
   	
   	
   	
   	    <div id="main_right">
   	    	
   	    	<div id="main_p">
   	    		 <a>ECSHOPS-管理中心-商品列表</a><p>教您使用</p><span>添加新商品</span>
   	    	</div>
   	    	
   	    	
   	    	  		
   	    <div id="main_y"> 
   	    
   	         <div id="main_k">
   	         	
   	         	   <input type="text" id="txt55"  value="搜索商品"/>
   	             <input type="button" id="btn66" value="搜索"/>
   	         </div>
   	         
   	         
   	         <ul id="table_q">
   	         	     
   	         	    <li>编号</li>
   	         	    <li>商品名称</li>
   	         	    <li>货号</li>
   	         	    <li>价格</li>
   	         	    <li>上架</li>
   	         	    <li>精品</li>
   	         	    <li>新品</li>
   	         	    <li>热销</li>
   	         	    <li>推荐排序</li>
   	         	    <li>库存</li>
   	         	    <li>虚拟销量</li>
   	         	    <li>操作</li>
   	         	   
   	         </ul>
   	         <!--
                	作者：offline
                	时间：2018-01-18
                	描述：
                -->
											   	          <div id="main_z">
											   	          	   <ul>
																								  <li><input type="checkbox" /></li>
																   	         	    <li>就快了吧</li>
																   	         	    <li>10</li>
																   	         	    <li>1000</li>
																   	         	    <li>1</li>
																   	         	    <li>0</li>
																   	         	    <li>0</li>
																   	         	    <li>0</li>
																   	         	    <li>100</li>
																   	         	    <li>1</li>
																   	         	    <li>0</li>
																   	         	    <li><a><img src="images/2018_03.png"/></a><span><img src="images/2018-01-18_123049_05.png"/></span></li>
																	
											   	          	   </ul>
											   	          	   
											   	          	   
											   	          	      <ul>
																								  <li><input type="checkbox" /></li>
																   	         	    <li>就快了吧</li>
																   	         	    <li>10</li>
																   	         	    <li>1000</li>
																   	         	    <li>1</li>
																   	         	    <li><img src="images/canvas0023_03.png"></li>
																   	         	    <li>0</li>
																   	         	    <li>0</li>
																   	         	    <li>100</li>
																   	         	    <li>1</li>
																   	         	    <li>0</li>
																   	         	    <li><a><img src="images/2018_03.png"/></a><span><img src="images/2018-01-18_123049_05.png"/></span></li>
																	
											   	          	   </ul>
											   	          	   
											   	          </div>
											   	         
   	         
   	         
   	         
   	         
   	         
   	         
   	    
   	    </div>
   	    	
   	    	<div id="main_e">
   	    		
   	    		    <ol id="main_r">
   	    		    	<li>通用信息</li>
   	    		    	<li>详细信息</li>
   	    		    	<li>其他信息</li>
   	    		    	<li>商品属性</li>
   	    		    	<li>商品相册</li>
   	    		    	<li>关联商品</li>
   	    		    	<li>配件</li>
   	    		    	<li>关联文章</li>
   	    		    </ol>
   	    		
   	   
   	   
   	    			<div id="main_u">
   	    			
   	    						<table>
   	    							
   	    							
   	    							<tr>
   	    								<td>商品分类</td>
   	    								<td><input type="text" id="txt1" ></td>
   	    								 <td>字体样式：</td>
													    <td>
													     <select name="edulevel"/>
													      <option value="-1">字体样式</option>
													      <option value="0">加粗</option>
													      <option value="1">斜体</option>
													      <option value="2">下划线</option>
													      <option value="3">删除线</option>
													    </td>
   	    							</tr>
   	    							
   	    							
   	    							
   	    							
   	    							  <tr>
												   <td>商品货号：</td>
												   <td><input type="text" id="txt2"/></td></br>
											  </tr>
											  
										      	<!--<a>如果你不能 输入商品货号，系统将自动生成一个唯一货号</a>
											  	-->
											  
   	    							  <tr>
												   <td>商品分类：</td>
												   <td>  <select name="edulevel"/>
													      <option value="-1">钻石</option>
													      <option value="0">衣裤</option>
													      <option value="1">衬衫</option>
													      <option value="2">外套</option>
													      <option value="3">夹克</option>
												   </td>
								               <td><input type="button" id="btn22" value="确定"/> </td>
											  </tr>
											  
											  
											  
											  
   	    							  <tr>
												   <td>扩张分类：</td>
												   <td><input type="button" id="btn23" value="选择"/></td>
											  </tr>
											  
											  
											    <tr>
												   <td>商品品牌：</td>
												   <td>  <select name="edulevel"/>
													      <option value="-1">请选择</option>
													      <option value="0">kk</option>
													      <option value="1">贝亲</option>
													      <option value="2">千红</option>
													      <option value="3">美好佳</option>
													      <option value="1">衬好事达</option>
													      <option value="2">雅培</option>
													      <option value="3">联想</option>
													       <option value="2">方正</option>
													      <option value="3">太平鸟</option>
												   </td>
												   <td><input type="button" id="btn24" value="添加品牌"/></td>
											  </tr>
											  
											  
											   <tr>
												   <td>本店售价：</td>
												   <td><input type="text" id="txt25" /></td>
												   <td><input type="button" id="btn25" value="按市场计算"/></td>
											  </tr>
											  
											  
											  
											  <tr>
												   <td>会员价格：</td>
												   <td><input type="text" id="txt5" /></td>
												   <td>代销用户</td>
												   <td><input type="text" id="txt6" value="-1"/></td>
												   <td>vip</td>
												   <td><input type="text" id="txt7" value="-1"/></td>
											  </tr>
											  
											  
											  
											  <tr>
												   <td>商品优惠价格+</td>
												   <td><input type="text" id="txt8" /></td>
												   <td>优惠价格</td>
												   <td><input type="text" id="txt9" value="-1"/></td>
											  </tr>
											  
											  
											   <tr>
												   <td>市场售价：</td>
												   <td><input type="text" id="txt10" value="0"/></td>
												   <td><input type="button" id="btn30" value="取整数"/></td>
											  </tr>
											  
											  
											    
											   <tr>
												   <td>虚拟销量：</td>
												   <td><input type="text" id="txt11" value="0"/></td>
											  </tr>
											  
											  
											   <tr>
												   <td>赠送消费积分数：</td>
												   <td><input type="text" id="txt12" value="0"/></td>
											  </tr>
											  
											  
											  <tr>
												   <td>积分购买金额：</td>
												   <td><input type="text" id="txt13" value="0"/></td>
											  </tr>
											  
											  <tr>
												   <td><input type="checkbox" id="check">促销价</td>
												   <td><input type="text" id="txt23" value="0"/></td>
											  </tr>
											  
											  
											    
											  <tr>
												  <td>促销日期：</td>
												  <td><input type="text"  id="txt14" value="2018-01-17"/></td>
												  <td><input type="button" id="btn32" value="选择"/></td>
												  <td><input type="text" id="txt16" value="2018-12-19"></td>
												  <td><input type="button" id="btn33" value="选择"/></td>
											  </tr>
											  
											  
											   <tr>
												   <td>上传商品图片</td>
												   <td><input type="button" id="btn35" value="选择文件"/>未选择任何文件<input type="text" id="txt17" placeholder="商品图片或者外部url图片"/></td>
											  </tr>
											  
											  
											  
											  
											   <tr>
												   <td>上传商品缩略图 </td>
												   <td><input type="button" id="btn35" value="选择文件"/>未选择任何文件<input type="text" id="txt18" placeholder="商品图片或者外部url图片"/></td>  
											  </tr>
											  
											  
											  <tr>
												   
												   <td><input type="checkbox" id="txt20" /></td>
												  <td>自动生成缩略图</td>
											  </tr>
											  
											  
											  
											    <tr>
												   <td><input type="button" id="btn39" value="确定"></td>
												   <td><input type="button" id="btn40" value="取消"/></td>
												  
											  </tr>
											  
   	    						</table>
   	    			
   	    			</div>
   	    			
   	    			
   	    			
   	    	    <div id="main_i">	</div>
   	    
   	    		
   	    	</div>
   	    	
   	    	
   	    </div>
   	
   </div>
   
   
   
  </body>
</html>
<script src="javascripts/jquery-1.11.1.min.js"></script>
<script src="javascripts/main.js"></script>
