*{margin: 0;padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;}
#top{position: relative;width: 1280px;height: 76px;background: #303030;}
#top_img{position: absolute;width: 150px;height: 40px;margin-top: 20px;margin-left: 30px;background: white;}

#top_img>img{width: 150px;height: 40px;position: absolute;}

#top_l{position: absolute;width: 925px;height:76px;background: #303030;right: 0;}

#top_l>ul{position: absolute;width: 925px;height: 76px;}
#top_l>ul>li{float: left;text-align: center;width: 90px;background:#303030;height:76px;border-left: 1px solid #303030;border-radius: 1px solid #303030;}

#top_l>ul>li>img{line-height: 76px;text-align: center;margin-top: 9px;margin-left: 4px;}
#top_l>ul>li>a{font-size: 9px;color: white;}




#nav{position: relative;width: 1280px;height: 40px;background: #575757;}
#nav>ul{width: 780px;height: 15px;left: 0;position: absolute;margin-top: 13px;}
#nav>ul>li{float: left;line-height: 15px;width: 110px;border-right: 1px solid black;height: 15px;}

#nav>ul>li>img{position: absolute;margin-left: 13px;}
#nav>ul>li>a{font-size: 7px;color: white;margin-left: 40px;margin-top: 1px;}

#nav>p{position: absolute;width: 420px;height: 40px;background: ;right: 190px;line-height: 40px;}
#nav>p>a{float: left;margin-left: 20px;font-size: 9px;color: white;}


#main{position: relative;width: 1280px;}
#main_left{position: absolute;width: 180px;background: #575757;

height: 580px;

overflow: auto;
}

#main_left_q{position: absolute;width: 180px;height: 40px;background: black;text-align: center;


   line-height: 40px;
   
    }

#main_left_q>a{font-size: 15px;color: white;text-align: center;}
#ul1{
	
	/*position: absolute;
	width: 180px;*/
	top: 40px;
	
	}
#ul1>li{width: 180px;height: 40px;border-bottom: 1px solid #797979;background: #454545;}
#ul1>li>img{position: absolute;width: 15px;height: 15px;margin-top: 15px;margin-left: 11px;}

#ul1>li>a{text-align: center;font-size: 13px;color: white;line-height: 40px;margin-left: 40px;}
#ul1>li>span{position: absolute;width: 15px;height: 15px;line-height: 40px;left: 140px;}
#ul1>li>span>img{width: 15px;height: 15px;}

#ul2{
	   /* position: absolute;*/
		/*width: 180px;*/
		/*min-height: 40px;*/
		/*background: black;*/
		display: none;
		}
#ul2>li{width: 160px;height: 40px;background: #575757;font-size: 13px;color:white;padding-left: 20px;line-height: 40px;}
#ul2>li:hover{background: #333333;}

#main_right{position: absolute;width:1070px;height:565px;background: #edebec;margin-left: 180px;overflow: auto;}

#main_p{position: absolute;width: 1070px;height: 52px;border-bottom: 1px solid #cccccc;line-height: 52px;}
#main_p>a{font-size: 15px;color:  black;margin-left: 20px;}
#main_p>p {width:110px;height: 25px;background: orange;border-radius: 13px 13px 13px 13px;margin-left: 280px;text-align: center;font-size: 10px;color: black;line-height: 25px;margin-top: -38px;}

#main_p>span{font-size: 10px;color: white;width: 110px;height: 25px;background: #c43926;border-radius: 13px 13px 13px 13px;margin-top: -25px;margin-left:880px;position: absolute;text-align: center;line-height: 25px;}

/*
#ul2_q{position: absolute;width: 1000px;height: 100px;background: #f3f3f3;left: 30px;display: block;margin-top: 450px;}
#ul2_q>p{text-align: center;line-height: 100px;font-size: 14px;color: #666666;}
#ul2_q>a{font-size: 13px;color: darkgray;text-align: center;position: absolute;margin-top: -40px;margin-left: 300px;}*/



#main_e{position: absolute;width: 1000px;min-height: 450px;position: absolute;margin-left:;margin-top: 55px;background: white;display:none;}

#main_r{height: 40px;line-height: 40px;font-size: 15px;color: black;background: #666666;}
#main_r>li{float: left;line-height: 40px;margin-left: ;width: 100px;text-align: center;}

#main_y{position: absolute;width: 1000px;height: 1000px;background: ;display: none;margin-top: 55px;}
#main_u{position: absolute;width: 900px;height: 800px;background: white;}

#main_k{position: absolute;width: 1000px;height: 44px;background: #efefef;}

#txt55{position: absolute;margin-left: 20px;margin-top: 10px;font-size: 10px;outline: none;}
#btn66{position: absolute;width: 60px;height: 25px;background: red;margin-top: 10px;margin-left: 600px;border: none;color: white;}



/*
#list6{position: absolute;width: 500px;height: 600px;border: 1px solid black;margin-left: 260px;}
*/
table{position: absolute;margin-left:200px;font-size: 11px;color: black;margin-top: 10px;}
table>tbody>tr{height: 40px;font-size: 10px;}
#btn22{width: 66px;height: 25px;background: red ;line-height: 25px;font-size: 13px;border: none;}

#btn23{width: 70px;height: 30px;background: red;border: none;font-size: 13px;line-height: 30px;}

#btn24{width: 60px;height: 25px;background: deepskyblue;border: none;font-size: 13px;line-height: 25px;}

#txt6,#txt7{width: 100px;}

#txt14,#txt16{width: 100px;}

#txt16{margin-left: -60px;}

#btn32,#btn33{width: 60px;height: 25px;background: red;border: none;font-size: 13px;line-height: 25px;margin-left: -120px;}

#txt17,#txt18{font-size: 9px;width: 200px;}



#btn39,#btn40{width: 60px;height: 25px;background: red;border: none;font-size: 13px;line-height: 25px;margin-left: 30px;}



#table_q{position: absolute;width: 1000px;height: 40px;border: 1px solid white;margin-top: 45px;margin-left: 0;}
#table_q>li{float: left;width: 70px;height: 40px;border-right: 1px solid #E6E6E6;background: #efefef;line-height: 40px;text-align: center;font-size: 11px;}
#table_q>li:nth-child(12) {width: 110px;}
#table_q>li:nth-child(2){width: 110px;}
#table_q>li:nth-child(9){width: 110px;}
#table_q>li:nth-child(1){width: 98px;}

#main_z{position: absolute;width: 1000px;min-height: 40px;background: ;margin-top: 90px;}
#main_z>ul{width: 1000px;height: 40px;border:1px solid #CCCCCC;background: #FFFFFF;}
#main_z>ul>li{float: left;width: 70px;height: 40px;border-right: 1px solid #E6E6E6;background: #FFFFFF;line-height: 40px;text-align: center;font-size: 11px;}
#main_z>ul>li:nth-child(12) {width: 110px;}
#main_z>ul>li:nth-child(2){width: 110px;}
#main_z>ul>li:nth-child(9){width: 110px;}
#main_z>ul>li:nth-child(1){width: 98px;}
#main_z>ul>li>a>img{margin-top: 10px;margin-left: 5px;}
#main_z>ul>li>span>img{margin-left: 5px;}























